<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card class="example-card" style="margin: 5% 5% 5% 5%;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{pokemon}}</mat-card-title>
      <mat-card-subtitle
        *ngFor="let tipo of type; index as i"
      >
        <img mat-card-image [src]="pegarIconeTipoPokemon(tipo)"  alt="Photo of a pokemon">
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="pegarImagemPokemon()"  alt="Photo of a pokemon">
    <mat-card-actions>
        <button mat-fab extended color="warn">
            <mat-icon>add_circle</mat-icon>
            meu time
        </button>
    </mat-card-actions>
  </mat-card>
